.Note-String
{
    font-size: calc(15px + 2vmin);
    color: cyan;
}

.Tag
{
    color: #fff;
    font-size: calc(10px + 2vmin);
    background-color: #007bff;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
}

.Img-SmallIcon
{
    
    width: 100%;
    max-width: 15px;
    height: 100%;
    max-height: 15px;
}

.CardColumns
{
    padding-left: 1%;
    padding-right: 1%;
}