.TextOrImage-Img{
    width: 100%;
    max-width: 50%;
    height: 100%;
    max-height: 50%;
}

.TextOrImage-Btn{
    max-width: 30%;
    max-height: 30%;
}

.TextOrImage-Text{
    font-size: 110%;
}

.StringNote-Card
{
    max-width: 100%;
    font-size: 100%;
}

.StringNote-h1
{
    font-size: 200%;
}

.Medium-Label{
    font-size: 100%;
    padding-right: 25px;
    padding-left: 25px;
    font-style: oblique;
}

.TextArea{    
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
    padding-right: 1%;
    padding-left: 1%;
}

.Card
{
    max-width: 50%;
}